@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

li {
  list-style: none;
}

.bg-christmas {
  /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
  background-image: url('./gradient.png');
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-position: center;
}